#cloud
  h2 cloud 
   
  #files
    each f in files
      .flex-h
        button
          i.fa.fa-trash-alt
        span.grow
          a(href=`/files/${f.href}`, download=f.name)
            i.fa.fa-cloud-download-alt
            | #{f.name}
        span.usr #{f.usr}

#upload
  h2 upload
  
  form(action="/upload" enctype="multipart/form-data" method='post')
    label.upload-btn(for='browse') 
      i.fa.fa-folder-open
      | select
    input#browse.hide(type='file' name='doc' multiple)
    button.upload-btn(type="submit")
      i.fa.fa-cloud-upload-alt
        
    #preview
    script.
      var input = document.getElementById('browse');
      var preview = document.getElementById('preview');
      input.addEventListener('change', paint);
      
      function paint () {
        preview.innerHTML = '';
        Array.from(input.files).forEach(f => {
          var node = document.createElement('div');
          node.innerHTML = f.name;
          preview.appendChild(node);
        });
      };
