<html>
    <head>
        <link rel='shortcut icon' 
            href="/media/images/chatM.ico" 
            type="image/x-icon">
    </head>
    <body class="flex-v">
        <div id="header" class="flex-h">
            <h1 class="title"> MATHCHAT </h1>
            <span class="grow"></span>
            <span>
                <i class="fa fa-cloud"></i>
                <a href="/cloud/"> cloud </a>
            </span>
            <span id="inbox">
                <i class="far fa-comment"></i>
                <a href="/chat/"> chat </a>
            </span>
            <span id="user">
                <i class="fa fa-user"></i>
                <a href="/login"> login </a>
            </span>

            <span id="psichat"></span>
    <script>
    ajax()
        .get('/media/images/psichatBMP.json')
        .then(JSON.parse)
        .then(bmp2svg().height(50))
        .then(psichat => psichat.plant('#psichat')(1));
    </script>

        </div>

        <div id="win" class="flex-v grow"></div>

    </body>
</html>
