.msg-body {
      padding: 30px;
      background-color : #def;
      color: #543;
      width: 400px;
      display: inline-block;
}

.msg {
    margin: 15px;
}
 
.msg-head span {
    padding: 5px;
}
.date {
    color: #999;
}
.poster {
    color: #66d;
}
.center {
    min-width: 700px;
}
#msgs {
    margin: 0px 60px;
}
#write {
    margin: 10px 60px;
    text-align: right;
}
#write textarea {
    margin: 15px;
    min-width: 460px;
    min-height: 150px;
}
#write button {
    margin: 0px 15px;
}
