@font-face {
    font-family:"Retroscape";
    src: url("/media/fonts/retroscape/Retroscape.ttf");
}
@font-face {
    font-family:"GlacialIndifference";
    src: url("/media/fonts/glacial/GlacialIndifference-Regular.otf");
}

@font-face {
    font-family:"hyperspace";
    src: url("/media/fonts/hyperspace/Hyperspace_Bold.otf");
}
@font-face {
    font-family:"libertine";
    src: url("/media/fonts/LinLibertine/LinLibertine_Rah.ttf");
}
@font-face {
    font-family:"nouveau_ibm";
    src: url("/media/fonts/nouveau_ibm/Nouveau_IBM.ttf");
}
@font-face {
    font-family:"symbolism";
    src: url('/media/fonts/symbolism/Symbolism.ttf');
}
@font-face {
    font-family:"bowman";
    src: url('/media/fonts/bowman/Bowman.ttf');
}
@font-face {
    font-family:"cone";
    src: url('/media/fonts/cone/Cone.ttf');
}
@font-face {
    font-family:"nimbus";
    src: url('/media/fonts/nimbus/nimbusmono-regular.otf');
}
@font-face {
    font-family:"old-standard";
    src: url('/media/fonts/old-standard/oldstandard-2.0.2.ttf/OldStandard-Regular.ttf');
}
@font-face {
    font-family:"anonymous-pro";
    src: url('/media/fonts/anonymous-pro/Anonymous_Pro.ttf');
}
@font-face {
    font-family:"iosevka";
    src: url('/media/fonts/iosevka/iosevka-regular.ttf');
}
@font-face {
    font-family: "nord-sud";
    src: url('/media/fonts/nord-sud/ttf/NordSudA.ttf');
}
@font-face {
    font-family: "judson";
    src: url('/media/fonts/judson/Judson.ttf');
}
@font-face {
    font-family: "liberation-serif";
    src: url('/media/fonts/liberationSerif/LiberationSerif.ttf');
}
