html, body {
    height: 100%;
    margin: 0;
}
.flex-h {
    align-items: center;
    justify-content: center;
}
input {
    border: none;
}
input[type=submit] {
    background-color: #fff;
    font-family: 'nouveau_ibm';
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
    float: right;
}
label, legend {
    font-family: 'nouveau_ibm';
    font-size: 16;
}
