html, body {
    box-sizing: border-box;
    background-color: #fff;
}
body {
    margin: 0px;
    border: none;
}
a {
    text-decoration: none;
    color: #a54;
}
i {
    margin: 3px;
}

.flex-h {
    display: flex;
    flex-flow: row;
}
.flex-v {
    display: flex;
    flex-flow: column;
}
.grow {
    flex-grow: 1;
}
.stretch {
    align-items: stretch;
}
.title {
    font-family: 'Retroscape';
    font-weight: normal;
    font-style: normal;
}
html * {
    font-family: 'nouveau_ibm';
    font-weight: normal;
    font-style: normal;
}

textarea, code {
    font-family: 'iosevka';
}

.ft0, .ft0 * {
    font-family: 'GlacialIndifference';
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
#header span {
    margin: 5px;
}
#header img {
    margin: 10px;
    image-rendering: pixelated;
}
#files, #upload form {
    margin: 5px;
    padding: 15px;
    border: 1px solid #aaa;
}
#files .usr {
    color: #54a;
}

#win {
    padding: 15px;
}

button, .upload-btn {
    border: 1px solid black;
    background-color: #fff;
    margin: 1px;
    padding: 2px;
}

.hide{
    display: none;
}

pre {
    background-color: #eef;
    color: #634;
    max-width: 600px;
    padding: 20px;
}
