html, body {
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
}
body {
    margin: 0px;
    border: none;
}
a {
    text-decoration: none;
    color: #a54;
}
i {
    margin: 3px;
}

.flex-h {
    display: flex;
    flex-flow: row;
}
.flex-v {
    display: flex;
    flex-flow: column;
}
.grow {
    flex-grow: 1;
}
.stretch {
    align-items: stretch;
}
.title {
    font-family: 'Retroscape';
    font-weight: normal;
    font-style: normal;
}
html * {
    font-family: 'nouveau_ibm';
    font-weight: normal;
    font-style: normal;
}

textarea, code {
    font-family: 'iosevka';
}

.ft0, .ft0 * {
    font-family: 'GlacialIndifference';
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
#header span {
    margin: 5px;
}
#header img {
    margin: 10px;
    image-rendering: pixelated;
}
#files, #upload form {
    margin: 5px;
    padding: 15px;
    border: 1px solid #aaa;
}
#files .usr {
    color: #54a;
}

#win {
    padding: 15px;
}

button, .upload-btn {
    border: 1px solid black;
    background-color: #fff;
    margin: 1px;
    padding: 2px;
}

.hide{
    display: none;
}

#mailer-preview {
    padding: 30px;
}
.mailer-div {
    padding: 40px;
    width: 600px;
    border: 1px solid #ccc;
    margin: 5px;
}
#mailer-in {
    width: 600px;
    min-height: 300px;
    color: #657;
}
#mailer-image { 
    border: dashed 1px #bbb;
}
#mailer-head table {
    margin-bottom: 15px;
}
#mailer-head input {
    font-family: 'iosevka';
    color: #657;
    min-width: 300px; 
}
#mailer-head label *{
    color: #333;
}
.mailer-action {
    text-align: center;
    float: center;
    margin-top: 10px;
    padding: 15px;
}
.mailer-action button {
    min-width: 100px;
    padding: 5px;
    background-color: #eef;
    color: #634;
    border: 1px solid #634;
}
pre {
    background-color: #eef;
    color: #634;
    max-width: 600px;
    padding: 20px;
}
