html
  head
    link(rel='stylesheet' href='/views/style/main.css')
    title mathchat
  
  body
    h2 mathchat 
    span#user
      if user
        p logged as #{user.usr}
      else
        a(href='/login/') login

    h1 cloud
    
    a(href='/cloud') browse files 
    
    h1 upload

    a(href='/upload') upload files

      
        
    

