#chat

  h2 chat

  #msgs 
    each p in msgs
      - var side = p.usr == 'oli' ? 'right' : 'left';
      div(class="msg "+side)
        .msg-head
          span.poster= p.usr
          span.date= p.date
        .msg-body
          | #{p.body}
  
  #write
    textarea#txt

    button#send(onclick="send()")
      i.fa.fa-paper-plane
      | send

script.
  var send = () => {
    var txt = document.getElementById('txt');
    ajax().post(window.location, {body: txt.value})
  }





style.
  .msg-body {
      padding: 15px;
      border: 1px solid #a6a;
  }
  .msg-head {
      color: #999;
  }
  #msgs {
    margin: 0px 60px;
  }
  #write {
    margin: 10px 60px;
    text-align: right;
  }

