script(src='/view/run/msgTemplate.js')
script(src='/static/socket.io/socket.io.js')
  
#chat

  h2 chat 

  #msgs 
    mixin msg(m)
      - var side = m.usr == 'oli' ? 'right' : 'left';
      div(class="msg "+side)
        .msg-head
          span.date= m.date
          span.poster= m.usr
        .msg-body
          | #{m.body}
    each m in msgs
      +msg(m)
  
  #write
    textarea#txt

    button#send(onclick="chat.send()")
      i.fa.fa-paper-plane
      | send

script.
  var chat = (function () {

    var my = {};
    
    my.room = window.location.pathname
      .replace(/^.*\/chat\//, '')

    my.socket = io()
      .on('msg', m => my.read(m))
      .emit('subscribe', my.room);

    my.send = () => ajax()
      .post(window.location, {
        body: my.select('txt').value
      })
      .then(my.flush);

    my.read = m => my
      .select('msgs')
      .innerHTML += msgTemplate({m:m});

    my.select = id => document.getElementById(id);
    
    my.flush = () => my.select('txt').value = "";

    return my;

  })();

style.
  .msg-body {
      padding: 15px;
      border: 1px solid #aaf;
  }
  .msg-head span {
    padding: 5px;
  }
  .date {
    color: #999;
  }
  .poster {
    color: #66d;
  }
  #msgs {
    margin: 0px 60px;
  }
  #write {
    margin: 10px 60px;
    text-align: right;
  }
