script(src='/lib/ajax.js')
script(src='/lib/vdom.js')
script(src='/lib/test.js')
link(rel='stylesheet', href='/view/style/main.css')
link(rel='stylesheet' href='/view/style/fonts.css')
link(rel='stylesheet', href='/static/fa/fontawesome-all.min.css')

<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/retroscape" type="text/css"/>
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/> 
title mathchat
