html
  head
    include head
  body
    
    #header.flex-h 
      h1.title MATHCHAT 
      span.grow
      span
        i.fa.fa-cloud
        a(href='/cloud/') cloud
      span#inbox
        i.far.fa-comment
        a(href='/chat/') chat
      span#user 
        if user
          i.fa.fa-user
          | #{user.usr}
        else
          i.far.fa-user
          a(href='/login/cloud/view/') login

    #win !{win}
