#channels

  mixin channel(c)
    a(href=`/chat/${c.id}`)
      .channel
        span.channel-name= c.name
        span.channel-users
          each user in c.users ? c.users : []
            span.channel-user= user
  
  h2 channels
  
  .channel-list
    each c in channels
      +channel(c)

  h3 public
  
  .channel-list
    each c in pubchannels
      +channel(c)

style.
  .channel-user {
    color: #888;
    padding: 5px;
  }
  .channel {
    width: 300px;
  }
  .channel-users {
    float: right;
  }
  .channel-list {
    padding: 0px 50px;
  }
  .channel-name {
    width: 60px;
  }
