a {
    text-decoration: none;
    color: #222;
}

button, .upload {
    border: 1px solid black;
    background-color: #fff;
    margin: 1px;
    padding: 2px;
}

#upload {
    display: none;
}

html {
    background-color: #fff;
}
